.sidebar {
  height: 100vh;
  background-color: #fff;
  width: 20rem;
  position: fixed;
  top: 0rem;
  left: 0rem;
  border-right: 0.1rem solid #ddd;

  &__top {
    padding: 1rem 0rem;
    text-align: center;
    cursor: pointer;
  }

  &__body {
    margin-top: 2rem;
  }

  &__footer {
    position: fixed;
    left: 1rem;
    bottom: 1rem;
    color: #666;

    a {
      margin-right: 0.5rem;

      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }
}
