.sidebar {
  top: 0rem;
  left: 0rem;
  width: 20rem;
  height: 100vh;
  position: fixed;
  background-color: #fff;
  box-shadow: -4px -2px 20px #ffffff, -3px 1px 5px #dadada;

  &__top {
    cursor: pointer;
    text-align: center;
    padding: 1rem 0rem;
    box-shadow: -4px -2px 20px #ffffff, 1px 1px 5px #dadada;
  }

  &__body {
    padding: 1.5rem;
    margin-top: 2rem;
  }

  &__footer {
    // left: 1rem;
    color: #666;
    z-index: 10;
    bottom: 0;
    position: fixed;
    padding: 1.5rem;
    background-color: #fff;

    a {
      margin-right: 0.5rem;

      &:not(:first-child) {
        margin-left: 0.5rem;
      }
    }
  }
}
